.vs/
DotnetFramework/ProducerConsumer/bin/
DotnetFramework/ProducerConsumer/obj/
ProducerConsumer/bin/
ProducerConsumer/obj/
DotnetFramework/TaskParallelizer/TaskParallelizer/obj/
DotnetFramework/TaskParallelizer/TaskParallelizer/bin/
